.main-container {
    padding-top: 45px;
}

.form-header {
    margin-bottom: 25px;
    text-align: center;
}

.search-form {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.search-result .list-group-item:first-child {    
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}